@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&family=Magra:wght@700&family=Red+Hat+Text:wght@500&display=swap');


html {
    box-sizing: border-box;
    width: 100vw;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

h2 {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    padding-top: 80px;
    color: #f2785c;
}

p {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0d606f;
}

a {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

nav {
    display: flex;
    flex-flow: row wrap;
}

li {
    list-style-type: none;
}

button {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background: #0d606f;
    box-shadow: 0px 4px 4px #00000040, 0px 2px 3px #0d606f29;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.1);
}

@media (max-width: 390px) {
    h2 {
        font-size: 14px;
        line-height: 19px;
        padding-top: 20px;
    }
    p {
        font-size: 10px;
        line-height: 12px;
    }
    button {
        font-size: 11px;
        line-height: 15px;
        color: #ffffff;
        background: #0d606f;
        box-shadow: 0px 0px 3px #0d606f14, 0px 2px 3px #0d606f29;
        border-style: none;
    }
}

.wrapper {
    margin: 0 calc(100vw / 12);
}

@media (max-width: 390px) {
    .wrapper {
        margin: 0 calc(100vw / 26);
    }
}

.header {
    position: absolute;
    z-index: 1;
    min-height: 90px;
    width: 100vw;
    background: #f2785cb3;
    box-shadow: 0px 4px 4px #0d606f80;
}

.header_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 25px;
}

.header_logo {
    display: flex;
    gap: 6px;
    margin: 0;
}

.header_logo_text {
    font-family: 'Magra', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: calc(100vw / 45);
    line-height: 39px;
    color: #ffffff;
}

.header_logo_link img {
    width: 30px;
    height: 30px;
}

.header_nav {
    align-self: center;
}

.header_list {
    display: flex;
    gap: calc(100vw * 7 / 240);
    margin: 0;
    margin-left: -30px;
}

.header_button {
    width: 103px;
    height: 41px;
    margin: 0;
}

.hamburger {
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    gap: 4px;
    z-index: 4;
    width: 35px;
    height: 30px;
    cursor: pointer;
}

.hamburger span {
    z-index: 3;
}

.line {
    position: relative;
    width: 26px;
    height: 2px;
    border-radius: 16px;
    background: #ffffff;
    transition: 0.8s;
}

.line::before, .line::after {
    content: "";
    width: 26px;
    height: 2px;
    border-radius: 16px;
    background: #ffffff;
    transition: 0.5s;
}

.line::before {
    position: absolute;
    top: -7px;
}

.line::after {
    position: absolute;
    bottom: -7px;
}

.line.open {
    transform: rotate(45deg);
}

.line.open::after, .line.open::before {
    transform: rotate(90deg);
}

.line.open::before{
    top: 0;
}

.line.open::after{
    bottom: 0;
}

.hamburger_list {
    display: flex;
    align-items: flex-end;
    flex-flow: column wrap;
    gap: 10px;
    position: fixed;
    top: 0;
    right: -100%;
    background: #f2785c;
    width: 165px;
    height: 100vh;
    padding: 0 15px;
    transition: 0.8s;
    cursor: auto;
}

.hamburger_list_item:first-child {
    padding-top: 88.46px;
}

@media (max-width: 390px) {
    .header {
        position: absolute;
        z-index: 1;
        width: 100vw;
        background: linear-gradient(180deg, #0D606F 0%, #0d606f00 25.1%);
        background-size: auto 251px;
        box-shadow: none;
    }
    .header_wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 1px;
        padding-top: 45px;
    }
    .header_logo {
        width: 30px;
        margin-right: 0;
    }
    .header_logo_text {
        display: none;
    }
    .header_list {
        display: none;
    }
    .header_nav {
        align-self: flex-start;
    }
    .header_button {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .hamburger_list.open {
        right: 0;
    }
}

.preview {
    position: relative;
    z-index: 0;
    background: url(assets/images/preview.jpg);
    background-position: top;
    height: 765px;
    width: 100vw;
}

.preview_wrapper {
    position: relative;
    top: 122px;
    display: flex;
    flex-flow: column wrap;
    max-width: 892px;
}

.preview_wrapper h1 {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #ffffff;
}

.preview_wrapper p {
    font-style: italic;
    font-weight: 700;
    color: #ffffff;
    margin-top: 32px;
    margin-bottom: 46px;
}

.preview_wrapper_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    max-width: 892px;
    background: #ffffffb3;
    border-radius: 16px;
}

.preview_wrapper_div p {
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #f2785c;
    padding-left: 41px;
    margin: 0;
}

.preview_wrapper_div button {
    font-size: 24px;
    line-height: 32px;
    width: 228px;
    height: 59px;
    margin-right: 18px;
}

@media (max-width: 390px) {
    .preview {
        position: relative;
        z-index: 0;
        background: url(assets/images/preview-small.jpg);
        height: 251px;
    }
    .preview_wrapper {
        position: relative;
        top: 142px;
        display: flex;
        flex-flow: column wrap;
    }
    .preview_wrapper h1 {
        display: none;
    }
    .preview_wrapper p {
        display: none;
    }
    .preview_wrapper_div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 48px;
        background: #ffffffb3;
        border-radius: 16px;
    }
    .preview_wrapper_div p {
        display: inline;
        font-size: 14px;
        line-height: 17px;
        padding-left: 16.55px;
        margin: 0;
    }
    .preview_wrapper_div button {
        font-size: 11px;
        line-height: 15px;
        width: 92px;
        height: 30px;
        margin-right: 9px;
    }
}

.main_wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 auto;
}

.steps_list {
    display: flex;
    flex-flow: row wrap;
    width: calc(100vw - 2 * (100vw / 12));
    padding: 0 11px;
    padding-top: 40px;
}

.steps_item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 30px;
}

.steps_square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    background: #f2785c;
}

.second {
    padding-left: 231px;
    padding-right: 160px;
}

@media (max-width: 1439px) {
    .steps_list {
        justify-content: space-between;
    }
    .second {
        padding-left: 0;
        padding-right: 0;
    }
}

.steps_square img {
    max-width: 60px;
    max-height: 52px;
    margin: auto;
}

@media (max-width: 390px) {
    .steps_list {
        width: calc(100vw - 2 * (100vw / 26));
        padding: 0 0;
        padding-top: 20px;
    }
    .steps_item {
        gap: 20px;
    }
    .steps_square {
        width: 70px;
        height: 70px;
    }
    .first {
        align-items: flex-start;
        text-align: left;
        max-width: 94px;
    }
    .third {
        align-items: flex-end;
        text-align: right;
        max-width: 98px;
    }
    .steps_square img {
        max-width: 40px;
        max-height: 35px;
    }
}

.destinations {
    padding-top: 17px;
}

.destination_photo {
    overflow-y: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 60px;
    max-height: calc(100vw / 1.8);
    margin-top: 46px;
}

.photo_container {
    position: relative;
}

.photo_container_img {
    width: calc(100vw / 1.8);
    height: calc(100vw / 1.8);
    border-radius: 16px;
}

.photo_container_img.spain {
    background: url(assets/images/destination-1.jpg);
    background-position: center;
}

.photo_container_img.japan {
    background: url(assets/images/destination-2.jpg);
}

.photo_container_img.usa {
    background: url(assets/images/destination-3.jpg);
}

.photo_container p {
    position: absolute;
    left: 15px;
    bottom: 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #ffffff;
}

.destination_dot {
    display: flex;
    gap: 10px;
    padding-top: 24px;
}

.dot {
    width: 20px;
    height: 20px;
}

.more_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
    width: 228px;
    height: 59px;
    font-size: 24px;
    line-height: 32px;
    margin-top: 40px;
}

.destination_vector_right, .destination_vector_left {
    display: none;
}

@media (max-width: 390px) {
    .destinations {
        padding-top: 0px;
    }
    .destination_slider {
        position: relative;
    }
    .destination_photo {
        overflow-y: hidden;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 0;
        max-height: 210px;
        margin-top: 20px;
    }
    .photo_container {
        position: relative;
    }
    .photo_container_img {
        width: calc(100vw - 2 * (100vw / 26));
        height: 210px;
    }
    .photo_container_img.spain {
        background: url(assets/images/destination-1-small.jpg);
        background-position: center;
    }
    .photo_container_img.japan {
        background: url(assets/images/destination-2-small.jpg);
    }
    .photo_container_img.usa {
        background: url(assets/images/destination-3-small.jpg);
    }
    .photo_container p {
        top: 8px;
        font-size: 20px;
        line-height: 26px;
    }
    .destination_dot {
        position: absolute;
        left: 162px;
        bottom: 12px;
        gap: 6px;
        padding-top: 0px;
    }
    .dot {
        width: 8px;
        height: 8px;
    }
    .more_button {
        gap: 6.62px;
        width: 92px;
        height: 30px;
        font-size: 11px;
        line-height: 15px;
        margin-top: 10px;
    }
    .more_button img {
        width: 8.75px;
        height: 5.63px;
    }
}