/* html, body styles start */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --font-size-main: 20px;
    --line-height-main: 40px;
    --font-size-dscp: 18px;
    --line-height-dscp: 36px;
    --font-size-link: 20px;
    --line-height-link: 50px;
    --font-family-dscp: 'Inter', sans-serif;
    --font-weight-dscp: 400;
    --font-style-dscp: normal;
    --font-family-title: 'Merriweather', serif;
    --font-weight-title: 700;
    --button-width: 220px;
    --button-height: 55px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-style: var(--font-style-dscp);
    color: #fff;
    max-width: 1440px;
    margin: 0 auto;
    background: #000;
    overflow-x: hidden;
}

.section__title-container {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 60px;
    width: 700px;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .section__title-container {
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 50px;
        width: 364px;
    }
}

.section__title {
    position: relative;
    text-align: center;
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    color: #BDAE82;
    font-size: 40px;
    line-height: 80px;
    margin: 0;
}

@media (max-width: 768px) {
    .section__title {
        position: relative;
        text-align: center;
        font-family: var(--font-family-title);
        font-weight: var(--font-weight-title);
        font-size: 32px;
        line-height: 80px;
        color: #BDAE82;
        font-size: 32px;
        line-height: 40px;
        margin: 0 auto;
    }
}

.section__title::before {
    content: "";
    border-bottom: 2px solid #BDAE82;
    width: 50%;
    position: absolute;
    top: 50%;
    margin-left: calc(-50% - 20px);
}

.section__title::after {
    content: "";
    border-bottom: 2px solid #BDAE82;
    width: 50%;
    position: absolute;
    top: 50%;
    margin-left: 20px;
}

/* html, body styles end */

/* header styles  start */

header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    width: inherit;
    height: 90px;
    background: url(assets/img/background-header.jpg) no-repeat top;
    margin: 0 auto;
}

@media (max-width: 768px) {
    header {
        background: url(assets/img/background-header.jpg) -5px -33px no-repeat;
        background-size: 980px 620px;
        overflow-x: hidden;
        width: auto;
    }
}

.header__logo-link {
    margin-left: 20px;
    transition: filter 0.5s;
}

@media (max-height: 768px) {
    .header__logo-link {
        margin-left: 60px;
    }
}

.header__logo-link:hover, .header__logo-link:focus, .header__logo-link:active {
    cursor: pointer;
    filter: invert(31%) sepia(15%) saturate(648%) hue-rotate(7deg) brightness(98%) contrast(91%);
}

.header__nav {
    display: flex;
    justify-content: center;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-family: var(--font-family-dscp);
    font-style: normal;
    height: 50px;
    margin: 20px 0;
    padding: 0;
}

@media (max-width: 768px) {
    .header__list {
        display: none;
    }
}

.header__item {
    margin-right: 30px;
}

.header__item:last-child {
    margin-right: 31px;
}

.header__link {
    font-size: var(--font-size-link);
    line-height: var(--line-height-link);
    color: inherit;
    text-decoration: none;
    transition: filter 0.5s;
}

.header__link:hover, .header__link:focus, .header__link:active {
    filter: invert(31%) sepia(15%) saturate(648%) hue-rotate(7deg) brightness(98%) contrast(91%);
    cursor: pointer;
}

.header__switch-lang {
    list-style-type: none;
    display: flex;
    padding: 0;
    height: 50px;
    font-family: var(--font-family-dscp);
    font-size: var(--font-size-link);
    line-height: var(--line-height-link);
    font-style: normal;
}

.header__item-en {
    color: #BDAE82;
    margin-right: 9px;
}

.header__link-en {
    font-size: var(--font-size-link);
    line-height: var(--line-height-link);
    color: inherit;
    text-decoration: none;
}

.header__link-en:hover, .header__link-en:active, .header__link-en:focus {
    cursor: pointer;
}

.header__item-slash {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .header__item-slash {
        margin-right: 18px;
    }
}

.header__link-slash {
    font-size: var(--font-size-link);
    line-height: var(--line-height-link);
    color: inherit;
    text-decoration: none;
}

.header__item-ru {
    margin-right: 0;
}


/* header styles  end */

/* burger menu */

.header__hamburger-menu {
    display: none;
    list-style-type: none;
}

@media (max-width: 768px) {

    .header__hamburger-menu {
        display: flex;
        margin-right: 64px;
    }

    #menu__toggle {
        opacity: 0;
    }
    
    .menu__btn {
        display: flex;
        align-items: center;
        position: relative;
        top: 20px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 4;
    }
    
    .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
        transition-duration: 0.5s;
    }
    
    .menu__btn > span::before {
        content: '';
        top: -11px;
    }
    
    .menu__btn > span::after {
        content: '';
        top: 11px;
    }
    
    .hamburger-menu {
        display: block;
        position: fixed;
        z-index: 3;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 620px;
        height: 1024px;
        margin: 0;
        padding: 80px 0;
        text-align: left;
        list-style-type: none;
        background: black;
        transition-duration: 0.5s;
    }

    .hamburger-menu__container {
        margin-left: 127px;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: white;
        font-family: var(--font-family-dscp);
        font-size: var(--font-size-dscp);
        font-size: 34.82px;
        line-height: 72.55px;
        text-decoration: none;
        transition-duration: 0.5s;
    }
    
    .menu__item:hover, .menu__item:focus, .menu__item:active {
        filter: invert(31%) sepia(15%) saturate(648%) hue-rotate(7deg) brightness(98%) contrast(91%);
        cursor: pointer;
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    
    #menu__toggle:checked ~ .hamburger-menu {
        visibility: visible;
        right: 0;
    }

}

/* burger menu */

/* hero styles  start */
.hero {
    display: flex;
    background: url(assets/img/background-header.jpg) no-repeat center;
    background-position: bottom;
    height: 820px;
    margin: 0 auto;
    width: inherit;
}

@media (max-width: 768px) {
    .hero {
        display: flex;
        background: url(assets/img/background-header.jpg) -5px -123px no-repeat;
        background-size: 980px 620px;
        overflow-x: hidden;
        height: 500px;
        margin: 0 auto;
        width: auto;
    }
}

.hero__wrapper {
    display: block;
    margin-top: 160px;
    margin-left: 78px;
    height: 330px;
    width: 500px;
}

@media (max-width: 768px) {
    .hero__wrapper {
        display: block;
        margin-left: 60px;
        height: 270px;
        width: 390px;
        margin-top: 0;
    }
}

.hero__title {
    color: white;
    font-size: 60px;
    line-height: 120px;
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    margin: 0;
}

@media (max-width: 768px) {
    .hero__title {
        color: white;
        font-size: 32px;
        line-height: 64px;
        font-family: var(--font-family-title);
        font-weight: 400;
        margin-top: 76px;
        margin-bottom: 0;
    }
}

.hero__dscp {
    width: 470px;
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    margin: 0;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .hero__dscp {
        margin-top: 20px;
        margin-bottom: 0;
        line-height: 24px;
        font-family: var(--font-family-dscp);
        font-weight: var(--font-weight-dscp);
        font-size: var(--font-size-main);
        width: 390px;
    }
}

.hero__button {
    color: black;
    background: #BDAE82;
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    border: none;
    width: var(--button-width);
    height: var(--button-height);
    margin-top: 25px;
    transition: color 0.5s;
}

@media (max-width: 768px) {
    .hero__button {
        margin-top: 60px;
        margin-bottom: 0;
        width: 219px;
        height: 54px;
    }
}

.hero__button:hover, .hero__button:focus, .hero__button:active {
    cursor: pointer;
    color: white;
}

/* hero styles  end */

/* skills styles  start */

.skills {
    height: auto;
}


@media (max-width: 768px) {
    .skills {
        height: auto;
    }
}

.skills__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 240px;
    margin-top: 60px;
    margin: 0 20px;
}


@media (max-width: 768px) {
    .skills__items {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: auto;
        margin-top: -14px;
    }
}

/* skills styles  end */

/* skills items start */

.skills__item {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 240px;
    width: 320px;
}


@media (max-width: 768px) {
    .skills__item {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        height: 224px;
        width: 300px;
        margin-top: 9px;
        margin-bottom: 27px;
    }
}

.skills__item__logo {
    margin: 0 129px;
}

@media (max-width: 768px) {
    .skills__item__logo {
        margin: 0 auto;
    }
}

.skills__item__title {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    text-align: center;
    margin: 0 20px;
    margin-top: 50px;
    width: 280px;
}

@media (max-width: 768px) {
    .skills__item__title {
        font-family: var(--font-family-title);
        font-weight: 700px;
        font-size: var(--font-size-main);
        line-height: var(--line-height-main);
        margin: 0 auto;
        margin-top: 30px;
    }
}

.skills__item__dscp {
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    margin: 0 20px;
    margin-top: 20px;
    margin-bottom: 8px;
    width: 280px;
}

@media (max-width: 768px) {
    .skills__item__dscp {
        line-height: 22px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

/* skills items end */

/* portfolio styles start */

.portfolio__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 60px;
    height: var(--button-height);
    width: 895px;
}

@media (max-width: 768px) {
    .portfolio__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        margin: 0 auto;
        width: 445px;
        height: 115px;
    }
}

.button__nature {
    width: var(--button-width);
    height: var(--button-height);
    border: 2px solid #BDAE82;
    color: #BDAE82;
    background: none;
    font-family: var(--font-family-dscp);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    line-height: 40px;
    transition: color 0.5s;
}

.button__nature:hover, .button__nature:focus, .button__nature:active {
    cursor: pointer;
    color: white;
}

.button__autumn {
    width: var(--button-width);
    height: var(--button-height);
    border: 2px solid #BDAE82;
    color: black;
    background: #BDAE82;
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    transition: color 0.5s;
}

.button__autumn:hover, .button__autumn:focus, .button__autumn:active {
    cursor: pointer;
    color: white;
}

.portfolio__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 1400px;
    height: 1145px;
    margin: 0 20px;
    margin-top: 60px;
}

@media (max-width: 768px) {
    .portfolio__wrapper {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 60px;
        width: auto;
        align-content: space-between;
        width: auto;
        height: auto;
    }
}

.portfolio__image {
    width: 450px;
    height: 560px;
    transition: 0.5s;
    display: block;
    transition: transform 0.5s;
}

.portfolio__image:hover, .portfolio__image:focus, .portfolio__image:active {
    transform: scale(.99);
    opacity: .5;
    cursor: pointer;
}

/* portfolio styles end */

/* video styles start */

.video__items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 705px;
    background: url(assets/img/video-player.jpg) no-repeat center;
    background-size: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .video__items {
        width: auto;
        height: 418px;
    }
}

.video__playHover{
    transition: filter 0.5s;
}

@media (max-width: 768px) {
    .video__playHover {
        width: 75px;
        height: 75px;
    }
}


.video__playHover:hover, .video__playHover:focus, .video__playHover:active {
    filter: invert(31%) sepia(15%) saturate(648%) hue-rotate(7deg) brightness(98%) contrast(91%);
    cursor: pointer;
}

/* video styles end */

/* price styles start */

.price__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 505px;
    margin: 0 auto;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .price__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        align-content: space-between;
        margin: 0 auto;
        margin-bottom: 80px;
        height: auto;
        width: auto;
    }
}

.wrapper__box {
    display: flex;
    flex-flow: column wrap;
    width: 450px;
    height: 505px;
    border: 3px solid #BDAE82;
}

@media (max-width: 768px) {
    .wrapper__box {
        width: 420px;
    }
}

.wrapper__title {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.wrapper__price {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    color: #BDAE82;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.wrapper__dscp {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-dscp);
    line-height: var(--line-height-dscp);
    text-align: center;
    margin: 0;
}

.order__shooting {
    width: 220px;
    height: 55px;
    border: 3px solid #BDAE82;
    background: #BDAE82;
    color: black;
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    transition: color 0.5s;
    margin: 0 auto;
    margin-top: 22px;
    text-align: center;
}

.order__shooting:hover, .order__shooting:focus, .order__shooting:active {
    cursor: pointer;
    color: white;
}

/* price styles end */

/* contact styles start */

.contact {
    width: 1440px;
    height: 700px;
    background: url(assets/img/footer-image.jpg) no-repeat center;
}

@media (max-width: 768px) {
    .contact {
        width: auto;
        height: 600px;
        background: url(assets/img/footer-image.jpg) no-repeat center;
        background-size: 1230px 600px;
    }
}

.contact__container {
    width: 450px;
    height: 445px;
    position: relative;
    top: 60px;
    left: 970px;
}

@media (max-width: 768px) {
    .contact__container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        position: relative;
        top: auto;
        left: auto;
        margin: 0 auto;
    }
}

.contact__title {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin: 0;
}

@media (max-width: 768px) {
    .contact__title {
        font-size: 32px;
        line-height: 64px;
        margin: 0 auto;
        margin-top: 60px;
    }
}

.contact__email {
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    color: #BDAE82;
    width: 450px;
    height: 50px;
    margin-top: 40px;
    border: 2px solid #BDAE82;
    background: none;
    padding-left: 18px;
}

@media (max-width: 768px) {
    .contact__email {
        background: rgba(1, 1, 1, 0.5);
    }
}

.contact__email::placeholder {
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    color: #BDAE82;
}

.contact__phone {
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    color: #BDAE82;
    width: 450px;
    height: 50px;
    margin-top: 20px;
    border: 2px solid #BDAE82;
    background: none;
    padding-left: 18px;
}

@media (max-width: 768px) {
    .contact__phone {
        background: rgba(1, 1, 1, 0.5);
    }
}

.contact__phone::placeholder {
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    color: #BDAE82;
}

.contact__message{
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    color: #BDAE82;
    width: 450px;
    height: 100px;
    margin-top: 20px;
    border: 2px solid #BDAE82;
    background: none;
    padding-left: 18px;
    resize: none;
}

@media (max-width: 768px) {
    .contact__message {
        background: rgba(1, 1, 1, 0.5);
    }
}

.contact__message::placeholder {
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    color: #BDAE82;
}

.contact__button {
    width: var(--button-width);
    height: var(--button-height);
    border: 3px solid #BDAE82;
    background: #BDAE82;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    margin-top: 30px;
    transition: color 0.5s;
}

@media (max-width: 768px) {
    .contact__button {
        margin: 0 auto;
        margin-top: 30px;
    }
}

.contact__button:hover, .contact__button:focus, .contact__button:active {
    cursor: pointer;
    color: white;
}

/* contact styles end */

/* footer styles start */

footer {
    max-height: 150px;
}

@media (max-width: 768px) {
    footer {
        max-height: 190px;
    }
}

.footer__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 50px 20px;
}

@media (max-width: 768px) {
    .footer__items {
        flex-flow: column wrap;
        justify-content: center;
        height: auto;
        margin: 0 auto;
    }
}

.footer__data {
    display: flex;
    justify-content: space-between;
    width: 182px;
    height: 50px;
    text-decoration: none;
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-size: var(--font-size-link);
    line-height: var(--line-height-link);
    list-style-type: none;
    padding: 0;
}

@media (max-width: 768px) {
    .footer__data {
        width: 173px;
        height: 24px;
        font-size: 20px;
        line-height: 24px;
        margin: 0;
        margin-top: 28px;
    }
}

.footer__github {
    text-decoration: none;
    color: white;
    transition: filter 0.5s;
}

.footer__github:hover, .footer__github:focus, .footer__github:active {
    filter: invert(31%) sepia(15%) saturate(648%) hue-rotate(7deg) brightness(98%) contrast(91%);
    cursor: pointer;
}

.footer__rsschool {
    height: 50px;
    font-family: var(--font-family-dscp);
    font-weight: var(--font-weight-dscp);
    font-size: var(--font-size-link);
    line-height: var(--line-height-link);
    text-decoration: none;
    color: white;
    transition: filter 0.5s;
}

@media (max-width: 768px) {
    .footer__rsschool {
        height: 24px;
        font-size: 20px;
        line-height: 24px;
        margin-top: 16px;
    }
}

.footer__rsschool:hover, .footer__rsschool:focus, .footer__rsschool:active {
    filter: invert(31%) sepia(15%) saturate(648%) hue-rotate(7deg) brightness(98%) contrast(91%);
    cursor: pointer;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 188px;
}

@media (max-width: 768px) {
    .footer__social-list {
        margin-top: 29px;
    }
}

.social-list {
    transition: filter 0.5s;
}

.social-list:hover, .social-list:focus, .social-list:active {
    filter: invert(31%) sepia(15%) saturate(648%) hue-rotate(7deg) brightness(98%) contrast(91%);
    cursor: pointer;
}

/* footer styles end */
